<div class="text" style="margin-left: 142px; margin-top:50px">
    <p>
        Hello, welcome to Ptax We are making taxes simple & understandable!
        <p>

            <h5>
                Where are you working/going to Work?
            </h5>
            <select name="" id="">
              <option value="">Estonia</option>
              <option value="">Hungary</option>
              <option value="">Germany</option>
              <option value="">Italy</option>
              <option value="">France</option>
              <option value="">Finland</option>
              <option value="">Span</option>
              <option value="">Greece</option>
              <option value="">Norway</option>

              </select>

</div>
<a routerLink="../third"> <img src="/assets/right.png" alt=""></a>

<img src="/assets/map.png" alt="" style="margin-left:700px ; display: inline-block; margin-top:-120px ; height: 600px;">