<div class="container">
    <h2 style="margin-top:60px"> Tax Information</h2>
    <p> calculated </p>
    <img src="../assets/table.png" alt="">

    <img src="../assets/chart.png" alt="" style="margin-left: 100px;">
    <div class="left" style=" margin-left: 900px; position: absolute; top:150px">
        <h2 style="margin-bottom:50px;"> Risks and know hows </h2>
        <button type="button" class="btn btn-default">Where to submit the declaration? </button>
        <button type="button" class="btn btn-default">When does the money has to be paid? </button>
        <button type="button" class="btn btn-default">What to do if the billing date has been exceeted? </button>
        <button type="button" class="btn btn-default">Who is eligible for tax return? </button>
        <button type="button" class="btn btn-default">Help me understand about the tax-free income? </button>
        <button type="button" class="btn btn-default">Didin't find answer to your question leave a note ? </button>
    </div>
</div>
<div class="container" style="margin-top:20px">
    <button type="button" class="btn btn-outline-info" style="margin-right:10px">Recalculate </button>
    <button type="button" class="btn btn-primary">Save the Result </button>
</div>