<div class="container">

    <h1 style="margin-top:50px">
        What is Your income?
    </h1>

    <select name="" id="" style="margin-right: 5px;">
  <option value=""> Salary/Wage Fund </option>
  <option value="">Gross Salary/Wage </option>
  <option value="">Net Slalry Salary/Wage</option>
</select>

    <select name="" id="" style="margin-right: 5px;"> Monthy
  <option value=""> Monthy </option>
  <option value=""> Yearly </option>
  <option value=""> Hourly </option>
</select>



    <input type="text" placeholder="3000" style="margin-left: 5px;">

    <div class="arorws" style="margin-top:70px">
        <a routerLink="../second">
            <img src="/assets/left.png" alt="">
        </a>
        <a routerLink="../fourth">
            <img src="/assets/right.png" alt="">
        </a>
    </div>

    <img src="/assets/page3.png" alt="" style="margin-left:600px ; margin-top: -280px;">
</div>