<div class="parent" style="margin-left:140px; ">
    <p style="color:black ; font-weight:900 ; font-size: 72px; display: inline-block; padding-top: 50px;">
        calculate Taxes <br> Hands Down
    </p>

    <img src="/assets/photo.PNG" alt="" style="display: inline-block ">
</div>

<div class="aside" style="display:inline-block ; margin-left: 140px;">
    <p>
        Start from here
    </p>
    <a routerLink="second" routerLinkActive="active-link">

    </a>
    <img src="/assets/arrow.png" alt="">

</div>


<div class="buttons" style="margin-left:480px; display:inline-block ">
    <button type="button" class="btn btn-primary" style="width:30% ;  max-width:420px ; height: 100px; margin: 0 20px;">

      <p style="text-align:left">
        I am <br>
        an employee
      </p>
    <a  routerLink="../second" routerLinkActive="active-link"  >

      <img src="/assets/bg1.png" alt="" style="width:120px ; height: 120px ; margin-top: -90px; margin-left: 80px" >
    </a>



  </button>

    <button type="button" class="btn btn-primary" style="width:30% ;  max-width:420px ; height: 100px; margin: 0 20px;">
      <p style="text-align:left">
        I am <br>
        an enterprise
      </p>
      <a routerLink="../second" routerLinkActive="active-link"  >

        <img src="/assets/bg2.png" alt="" style="width:120px ; height: 120px ; margin-top: -90px; margin-left: 80px" >
      </a>



  </button>

</div>